@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
@import "tailwindcss";

@theme {
  --font-lavishly: "Lavishly Yours", cursive;
  --font-itim: "Itim", cursive;
  --color-primary-50: #e6f0ff;
  --color-primary-100: #cce0ff;
  --color-primary-200: #99c2ff;
  --color-primary-300: #66a3ff;
  --color-primary-400: #3375e6;
  --color-primary-500: #0047b3;
  --color-primary-600: #003d99;
  --color-primary-700: #003080;
  --color-primary-800: #002666;
  --color-primary-900: #001a4d;
  --color-primary-950: #001033;
  --color-error-bg: #fee2e2;
  --color-error-border: #ef4444;
  --color-error-text: #b91c1c;
  --color-hv-error-bg: #fecaca;
  --color-hv-error-border: #dc2626;
  --color-hv-error-text: #991b1b;
  --color-at-error-bg: #fca5a5;
  --color-at-error-border: #b91c1c;
  --color-at-error-text: #7f1d1d;
  --color-edit-bg: #fef3c7;
  --color-edit-border: #f59e0b;
  --color-edit-text: #92400e;
  --color-hv-edit-bg: #fde68a;
  --color-hv-edit-border: #d97706;
  --color-hv-edit-text: #78350f;
  --color-at-edit-bg: #ccdd33;
  --color-at-edit-border: #b45309;
  --color-at-edit-text: #451a03;
  --color-disable-bg: #6b7280;
  --color-disable-border: #9ca3af;
  --color-disable-text: #f3f4f6;
  --color-hv-disable-bg: #f3f4f6;
  --color-hv-disable-border: #9ca3af;
  --color-hv-disable-text: #6b7280;
  --color-success-bg: #dcfce7;
  --color-success-border: #22c55e;
  --color-success-text: #166534;
  --color-hv-success-bg: #bbf7d0;
  --color-hv-success-border: #16a34a;
  --color-hv-success-text: #14532d;
  --color-at-success-bg: #86efac;
  --color-at-success-border: #15803d;
  --color-at-success-text: #052e16;
  --color-wait-bg: #dbeafe;
  --color-wait-border: #3b82f6;
  --color-wait-text: #1e40af;
  --color-hv-wait-bg: #bfdbfe;
  --color-hv-wait-border: #2563eb;
  --color-hv-wait-text: #1e3a8a;
  --color-at-wait-bg: #93c5fd;
  --color-at-wait-border: #1d4ed8;
  --color-at-wait-text: #172554;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    margin: 0;
  }
  body {
    @apply font-itim bg-primary-50 text-primary-950;
  }
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
